* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  color: $black;
  position: relative;
  @include text(12, 16, 1.5, 400, main);
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  transition: filter $motion 1s;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    -webkit-font-smoothing: antialiased;
  }
}

html {
  overflow-x: hidden;
  //background: $alt;
}

main {
  overflow-x: hidden;
}

//Resetting elements
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: underline;
}
