
input {
  &:focus {
    outline: $main solid 1px;
    outline-offset: -1px;
  }
}

//form
.form {

  //form__row
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: $u * 2;
  }

  //form__col
  &__col {
    flex: 1;

    &--half {
      flex: 1 1 calc(50% - #{$u * 2});
      max-width: calc(50% - #{$u * 2});
      margin-right: $u * 2;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  //form__label
  &__label {
    @include text(12, 14,1.2,500,main);
    letter-spacing: 0.1em;
    margin-bottom: $u;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
  }

  //form__input
  &__input {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: rgba(0,0,0,0.1);
    width: 100%;
    @include padding(1.5,2,1.5,2);
    color: inherit;

    &::placeholder {
      color: rgba(255,255,255,0.5);
    }
    &:focus {
      outline: $off solid 1px;
      outline-offset: -1px;
    }
    &--select {
      color: $black;
      cursor: pointer;
      display: block;
      &:focus {
        color: $black;
      }
      &--outer {
        position: relative;
        width: 100%;
        &:before {
          content: "";
          position: absolute;
          background-image: url(/path/to/chevron);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: $u*2;
          height: $u*2;
          top: 50%;
          right: $u*2;
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }

  //form__tarea
  &__tarea {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: rgba(0,0,0,0.1);
    width: 100%;
    @include padding(1.5,2,1.5,2);
    color: inherit;

    &::placeholder {
      color: rgba(255,255,255,0.5);
    }
    &:focus {
      outline: $off solid 1px;
      outline-offset: -1px;
    }
  }

  //checkbox
  &__checkbox {
    flex: 1 1 $u*2;
    max-width: $u*2;
    min-width: $u*2;
    display: inline-block;
    width: $u*2;
    height: $u*2;
    position: relative;
    appearance: none;
    outline: none;
    border-radius: 5px;
    margin-right: $u*2;
    cursor: pointer;
    
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -1px;
        left: -1px;
        border: 1px solid $white;
        border-radius: 5px;
    }
    &:after {
        content: "";
        position: absolute;
        left: -1px;
        top: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: $white;
        border-radius: 5px;
        transition: all ease-in-out .2s;
        transform-origin: center;
        transform: scale(0);
    }
    &:checked {
        &:after {
            transform: scale(1);
        }
    }
    
    //form__checkbox__label
    &__label {
      flex: 1;
      @include text(9, 9, 1.3, 700, main);
      letter-spacing: 0.05em;
      cursor: pointer;
    }

    //form__checkbox__outer
    &__outer {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  //modifiers
  //  color
  &--c {
    &--white {
      color: $white;
    }
  }
}