
@mixin animationsBundle($opacity: false, $transform: false) {
  pointer-events: none;
  &.loaded {
    pointer-events: initial;
    transition-property: opacity, transform;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    @if $opacity {
      opacity: 1;
    }
    @if $transform {
      transform: translateZ(0);
    }
  }
}

// Fades
@mixin fadeIn {
  opacity: 0;
  transform: translateY(var(--size));
  @include animationsBundle($opacity: true, $transform: true);
  @media (max-width:$mobile) {
    transform: translateY(calc(var(--size) / 2));
  }
}
@mixin fadeOut {
  opacity: 0;
  transform: translateY(calc(var(--size) * -1));
  @include animationsBundle($opacity: true, $transform: true);
  @media (max-width:$mobile) {
    transform: translateY(calc(var(--size) * -1 / 2));
  }
}
@mixin fadeLeft {
  opacity: 0;
  transform: translateX(calc(var(--size) * -1));
  @include animationsBundle($opacity: true, $transform: true);
  @media (max-width:$mobile) {
    transform: translateX(calc(var(--size) * -1 / 2));
  }
}
@mixin fadeRight {
  opacity: 0;
  transform: translateX(var(--size));
  @include animationsBundle($opacity: true, $transform: true);
  @media (max-width:$mobile) {
    transform: translateX(calc(var(--size) / 2));
  }
}

// Opacity
@mixin opacity {
  opacity: 0;
  @include animationsBundle($opacity: true, $transform: false);
}

// Move
@mixin moveIn {
  transform: translateY(var(--size));
  @include animationsBundle($opacity: false, $transform: true);
  @media (max-width:$mobile) {
    transform: translateY(calc(var(--size) / 2));
  }
}
@mixin moveOut {
  transform: translateY(calc(var(--size) * -1));
  @include animationsBundle($opacity: false, $transform: true);
  @media (max-width:$mobile) {
    transform: translateY(calc(var(--size) * -1 / 2));
  }
}
@mixin moveLeft {
  transform: translateX(calc(var(--size) * -1));
  @include animationsBundle($opacity: false, $transform: true);
  @media (max-width:$mobile) {
    transform: translateX(calc(var(--size) * -1 / 2));
  }
}
@mixin moveRight {
  transform: translateX(var(--size));
  @include animationsBundle($opacity: false, $transform: true);
  @media (max-width:$mobile) {
    transform: translateX(calc(var(--size) / 2));
  }
}