
@mixin animationsBundle($opacity: false, $transform: false) {
  pointer-events: none;
  &.loaded {
    pointer-events: initial;
    @if $opacity {
      opacity: 1;
    }
    @if $transform {
      transform: translateZ(0);
    }
  }
}

// Fades
@mixin fadeIn {
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  opacity: 0;
  transform: translateY(40px);
  @include animationsBundle($opacity: true, $transform: true);
  @media (max-width:$mobile) {
    transform: translateY(20px);
  }
}
@mixin fadeOut {
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  opacity: 0;
  transform: translateY(-40px);
  @include animationsBundle($opacity: true, $transform: true);
  @media (max-width:$mobile) {
    transform: translateY(-20px);
  }
}
@mixin fadeLeft {
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  opacity: 0;
  transform: translateX(-40px);
  @include animationsBundle($opacity: true, $transform: true);
  @media (max-width:$mobile) {
    transform: translateX(-20px);
  }
}
@mixin fadeRight {
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  opacity: 0;
  transform: translateX(40px);
  @include animationsBundle($opacity: true, $transform: true);
  @media (max-width:$mobile) {
    transform: translateX(20px);
  }
}

// Opacity
@mixin opacity {
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  opacity: 0;
  @include animationsBundle($opacity: true, $transform: false);
}

// Move
@mixin moveIn {
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  transform: translateY(40px);
  @include animationsBundle($opacity: false, $transform: true);
  @media (max-width:$mobile) {
    transform: translateY(20px);
  }
}
@mixin moveOut {
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  transform: translateY(-40px);
  @include animationsBundle($opacity: false, $transform: true);
  @media (max-width:$mobile) {
    transform: translateY(-20px);
  }
}
@mixin moveLeft {
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  transform: translateX(-40px);
  @include animationsBundle($opacity: false, $transform: true);
  @media (max-width:$mobile) {
    transform: translateX(-20px);
  }
}
@mixin moveRight {
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  transform: translateX(40px);
  @include animationsBundle($opacity: false, $transform: true);
  @media (max-width:$mobile) {
    transform: translateX(20px);
  }
}