// Media Queries
$mobile:        767px;  //sm
$tablet:        992px;  //md
$desktop:       1400px; //lg

// Custom properties
:root {
  --duration: 0.375s;
  --timing-function-in: ease-in;
  --timing-function-out: ease-out;
  --size: 40px;
}